.Hero { 
    height: 900px;
    background: linear-gradient(to right, #161a24 0%, #161a24 0%, #282e39 100%);
    position: relative; /*Every position absolute contained refers to this*/
}

.HeroGroup{
    margin: 0;
    max-width: 1000px;
    padding: 300px 300px;
    text-align: left;
    color: #c9c9c9;
}

.Hero h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}

.Hero p {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 70px 0;
}

@media (max-width: 640px) {
    .Hero {
        height: 550px; 
    }
    .HeroGroup {
        padding: 150px 0px 0px 30px;
    }
    .Hero h1 {
        font-size: 50px;
    }
    .Hero p {
        font-size: 14px;
        margin: 0 0 40px 0;
    }
}
/* @media (max-width: 640px) {
    .Hero {
        height: 700px; 
    }
    .HeroGroup {
        padding: 200px 0px 0px 30px;
    }
    .Hero h1 {
        font-size: 55px;
    }
    .Hero p {
        font-size: 14px;
        margin: 20px 0 40px 0;
    }
} */



/* Header divider */
.Hero .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.Hero .divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 157px;
}
.Hero .divider .shape-fill {
    fill: #FFFFFF;
}

@media (max-width: 640px) {
    .Hero .divider svg {
        height: 90px;
    }
}


/* Homepage sections styling */
.HomeSection {
    margin-top: 10px;
}
.HomeSection h2 {
    font-size: 45px;
    display: inline-block;
    background: linear-gradient(to right, #e32235 0%, #ec7e10 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.HomeSection .GlowyBtn {
    margin-top: 60px;
}

@media (max-width: 640px) {
    .HomeSection h2 {
        font-size: 30px;
    }
}


/* Projects  */
.Projects {
    text-align: center;
}
.ProjectsGroup {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    justify-items: center;
}

@media (max-width: 640px) {
    .ProjectsGroup {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
}


/* Articles  */
.Articles {
    margin-top: 150px;
    margin-bottom: 270px;
    text-align: center;
}
.ArticlesGroup {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    row-gap: 50px;
}

@media (max-width: 640px) {
    .Articles {
        margin-top: 100px;
        margin-bottom: 150px;
    }
}
