.Hero { 
    height: 900px;
    background: linear-gradient(to right, #161a24 0%, #161a24 0%, #282e39 100%);
    position: relative; /*Every position absolute contained refers to this*/
}

.HeroGroup{
    margin: 0;
    max-width: 1000px;
    padding: 300px 300px;
    text-align: left;
    color: #c9c9c9;
}

.Hero h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}

.Hero p {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 70px 0;
}

@media (max-width: 640px) {
    .HeroGroup {
        padding: 50px 50px;
    }
}


/* Header divider */
.custom-shape-divider-bottom-1612169418 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1612169418 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 157px;
}
.custom-shape-divider-bottom-1612169418 .shape-fill {
    fill: #FFFFFF;
}


/* Homepage sections styling */
.HomeSection {
    margin-top: 10px;
}
.HomeSection h2 {
    font-size: 45px;
    display: inline-block;
    background: linear-gradient(to right, #e32235 0%, #ec7e10 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.HomeSection .GlowyBtn {
    margin-top: 60px;
}


/* Projects  */
.Projects {
    text-align: center;
}
.ProjectsGroup {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    justify-items: center;
}


/* Articles  */
.Articles {
    margin-top: 200px;
    text-align: center;
}
.ArticlesGroup {
    margin: 0 auto;
    width: fit-content;
    
}
