.Header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 10px 0;
}

.HeaderGroup {
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;    /* Align vertically */

}

.Header a {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;

    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    
    /* transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1); */
}

.Header a:nth-child(1) {
    flex-grow: 9;
    text-align: left;
}

.Header a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -6px;
    content: "";
    display: block;
    height: 5px;
    border-style: solid;
    border-radius: 40px;
    border-width: 0;
    position: relative;
    background: linear-gradient(to right, #df1227 0%, #fb6d1b 100%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    margin: 0 auto;
    width: 0;
}

.Header a:hover:after {
    width: 70%;
}

.Header svg {
    height: 80px;
    width: 80px;
    background: transparent;
    padding: 0 20px;
    margin: 0;
}