.Header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0 0;
}

.HeaderGroup {
    position: relative;
    
    max-width: 1500px;
    margin: 0 auto;
    
    padding: 50px 25px 0 25px;
}

.Header .logo {
    float: left;
    display: block;
}

.Header .links {
    float: right;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;  /* Align horizzontally */
    padding-top: 18px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
}

.Header .links a {
    padding: 0 25px;
    cursor: pointer;
}

.Header .links a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -6px;
    content: "";
    display: block;
    height: 5px;
    border-style: solid;
    border-radius: 40px;
    border-width: 0;
    position: relative;
    background: linear-gradient(to right, #df1227 0%, #fb6d1b 100%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    margin: 0 auto;
    width: 0;
}

.Header .links a:hover:after {
    width: 100%;
}
