.ArticleCard {
    width: 1000px;
    height: 300px;

    background: #e8e8e8 100%;
    border-color: none;
    border-radius: 20px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    display: grid;
    grid-template-columns: 440px 500px;
    grid-template-rows: auto auto auto auto;
    /* rows: tags, title, desc, button */
    grid-template-areas: 
        "img tags"
        "img title"
        "img desc"
        "img btn";
    column-gap: 0;
    row-gap: 0;
    justify-items: center;
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
}

.ArticleCard .img {
    grid-area: img;
}

.ArticleCard .tags {
    grid-area: tags;
    text-align: left;
    display: flex;
    height: 35px;
}

.ArticleCard .tag {
    display: inline-block;
    align-self: flex-end;
    background: #bcbcbc;
    margin: 0 8px;
    padding: 2px 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 20px;
}

.ArticleCard .title {
    grid-area: title;
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin: 10px 0;
    height: 80px;
}

.ArticleCard .desc {
    grid-area: desc;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    height: 60px;
}

.ArticleCard .btn {
    display: inline-block;
    grid-area: btn;
    background: #9d9d9d;
    margin: 0 8px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 12px;

}